body {
    background-image: url("../images/white-waves.png");
}
.font {
    background-color: #4aaaa5;
    padding: 20px;
    margin-left: 5%;
}
.nav-back {
    background-color: #ffffff;
}
.navbar {
    margin-bottom: 20px;
}
.container {
    background-color: #ffffff;
    padding-bottom: 20px;
}
h2 {
    color: #4aaaa5;
    padding: 10px;
    /* margin-left: 10px; */

}
#profile_pic {
    width: 200px;
    height: 250px;
    margin-left: 10px;
    /* padding: 0px 10px 0px 10px; */
}
.photo {
    padding-bottom: 20px;
    padding-right: 20px;
    width: 250px;
    height: 250px;
    margin-left: 10px;
}
.row {
    padding-bottom: 20px;

}
.carousel-caption {
    width: 230px;
    left: 25px;
    color: #ffffff;
    background: #4aaaa5;
    bottom: 50px;
    /* padding-bottom: 50px; */
    margin-bottom: 10px 0px 0px 5%;
}
h4 {
    height: 10px;
    padding-bottom: 10px
}
.btn-style {
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: #666666; 
    color: #cccccc;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 12px;
    border-top: solid 8px #4aaaa5;
    padding: 10px 0px 0px 0px;

}
.col-md-2 {
    min-width: 250px;
}
.col-md-3 {
    min-width: 250px;
    min-height: 250px;
}